html
  head
    title A Pomodoro Clock FreeCodeCamp Practice
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js', language='JavaScript')
    link(href='https://fonts.googleapis.com/css?family=Berkshire+Swash', rel='stylesheet', type='text/css')
  body
    .container.bodyContainer
      h1.web-title Tomato Timer
      main(ng-app="TomatoTimer" ng-controller="TimerCtrl")
        p#demo
        svg#fillgauge2(ng-click="clickStart()" height="280")
        #time
        .timeSet
          .row
            .breakCtrl
              p BREAK
              button(ng-click='breakChange(-1)').minus -
              span.time{{' ' + breakLength}}
              button(ng-click='breakChange(1)').plus +
            .workCtrl
              p WORK
              button(ng-click='workChange(-1)').minus -
              span.time{{' ' + workLength}}
              button(ng-click='workChange(1)').plus +
      footer
        .container
          p.copyright.text-muted.small Copyright © Luna Web Design Studio 2015. All Rights Reserved

            

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

  
